#main{
    margin-top:-35px;
}
#main .search .txt i {
    color: #aaa;
    position: absolute;
    font-size: 15px;
    top: 18px;
    left: 30px;
}
#main .search input {
    margin: 0px;
    border: none;
    height: 48px;
    padding-left: 40px;
    border-top: 1px #23527C solid;
    width: 100%;
}
#main .search #search, #main .search #rate {
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    border-radius: 0px;
    width: 50%;
    float: left;
}
#main select {
    margin:0px 0px 10px 0px;
}
#main #list-featured {
    height:90px;
}
#main #list-featured a {
    color:#fff;
    margin:10px 10px 0px;
    text-decoration: none;
    cursor: pointer;
}
#main #list-featured a:hover i {
    color:#D9534F;
}
#main #list-featured i {
    font-size:9px;
}
#main #target-board,#main #search-board,#main .search>.row{
    position: relative;
    padding-top:30px;
    height:400px;
    background-color: #337AB7;
}
#main #target-board .target{
    background-color: #fff;
    position: absolute;
    border: 3px solid #fff;
}
#main #target-board img{
    width:95%;
    height:95%;
}
#main #target-board .target div{
    display: none;
    min-width:100px;
    background-color: #fff;
    margin:-100px 0px 0px 100px;
    padding:3px 5px;
    border: 1px dashed #999;
    border-radius: 5px;
    color:#000;
}
#main #target-board .target:hover{
    width:150px;
    height:150px;
    border: 3px solid #999;
    box-shadow: 5px 5px 19px #000;
    text-decoration: none;
    z-index: 11;
}
#main #target-board .target:hover div{
    display: block;
}
#main #target-board .t0{
    width: 140px;
    height:140px;
    top: 20px;
    right:200px;
}
#main #target-board .t1{
    width: 100px;
    height:100px;
    top: 100px;
    right:100px;
}
#main #target-board .t2{
    width: 120px;
    height:120px;
    top: 100px;
    right:400px;
}
#main #target-board .t3{
    width: 50px;
    height:50px;
    top: 15px;
    right:80px;
}
#main #target-board .t4{
    width: 80px;
    height:80px;
    top: 20px;
    left:30px;
}
#main #target-board .t5{
    width: 60px;
    height:60px;
    top: 200px;
    right:150px;
}
#main #target-board .t6{
    width: 60px;
    height:60px;
    top: 150px;
    left:80px;
}
#main #target-board .t7{
    width: 70px;
    height:70px;
    top: 180px;
    right:300px;
}

#main #search-board {
    display: none;
    text-align: center;
}
#main #search-board .target{
    display: inline-block;
    text-align: left;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    margin:15px;
    border: 2px solid #fff;
    color:#000
}

#main #search-board .target img {
    width:30px;
    height:30px;
    margin-right:10px;
}
#main #search-board .target:hover{
    border: 2px solid #999;
    box-shadow: 5px 5px 19px #000;
    text-decoration: none;
}
.rate a{
    display: block;
    color:#000;
    margin-bottom:10px;
}
.rate img{
    width:25px;
    height:25px;
    margin-right:10px;
}
.rate p{
    padding-left:38px;
    color:#999;
    font-size: 11px;
    word-break: break-all;
}

.search-all hr{
    margin-top: 10px;
    margin-bottom: 10px
}
.search-all b{
    display: block;
    margin-bottom:15px;
}
.search-all a:hover{
    text-decoration: none;
}

.search-detail .condition {
    margin-bottom: 10px
}
.search-detail #sel-condition{
    width:30%;
}
.search-detail .val-condition{
    width:65%;
    display: none;
}
.search-detail .c-name.val-condition{
    display: inline-block;
}
#show-pic {
  display: none;
}
#show-map h3{
    color:#fff;
    font-weight:bolder;
    display: inline-block;
    margin:0px;
}
#show-map label{
    color:#fff;
    font-weight:normal;
}
#show-map .checkbox-inline{
    padding-right:15px;
}

#show-map .checkbox-inline input[type=checkbox] { margin-left:2px;}
#map{
    height:320px;
}
#country[disabled] {
    background-color: #eee;
    color:#aaa;
    cursor: not-allowed;
}

.disc{
    color:#fff;
    margin-bottom:15px;
}
.disc b{
    font-size:20px;
}