#map{
    height:350px;
    margin:10px 0px
}

#search #sel-search-typ {
    margin-top:0px;
    float: none;
    margin-left:5px;
}
#search #sel-country {
    margin-top:0px;
    float: none;
}
#search li a{
    cursor: pointer;
}
#search input[type=text] {
    border:1px solid #acacac
}
#search .btn {
    background-color:#acacac;
    color:#fff;
    border:1px solid #acacac
}
#search .dropdown-menu {
    border:1px solid #acacac
}
#search .dropdown-toggle {
    width:160px;
    text-align:left;
}
#search .dropdown-toggle span{
    float:right;
    margin-top:10px;
}

#search #btn-search{
    margin-right:5px
}

#search #country{
    overflow-y:auto;
    height:200px;
}

#search .res-type {
    padding-top:15px;
    padding-bottom:0px;
}
#search .res-type a {
    display:block;
    padding-top:15px;
    padding-bottom:5px;
    color: #000;
    cursor:pointer;
    text-align:right;
}
#search .res-type a:hover{
    color:#035299
}
#search .res-type a.on{
    color:#035299;
    border-bottom:3px solid #035299;
}

#search .search-result{
    margin-top:20px;
}
#search .search-result ul {
    list-style:none;
    padding:0px;
    margin:0px
}
#search .search-result li {
    list-style:none;
    padding:10px 5px;
    margin:0px;
    border-bottom:solid 1px #eee
}
#search .search-result li img {
    width:75px;
    height:75px;
    margin-right:15px;
    float:left;
    border: 1px solid #ccc;
}
#search .search-result li p.target_nm{
    float:left;
    width:300px;
}
#search .search-result li p.featured{
    float:left;
    width:300px;
}
#search .search-result li p.score{
    float:right;
    width:50px;
    font-size:30px;
    font-weight: bold;
    margin-top:-20px;
}
#search .search-result li:hover .target{
    color:#035299
}
#search .search-result li .target{
    cursor:pointer;
    display:block;
    font-weight:bold;
}
#search .search-result li .info{
    display:block;
    color:#777
}